<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/login.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <container class="reg-page">
        <form class="myform">


            <div class="container">
                <h1>Login</h1>
                <p>Please enter your email and password</p>
                <hr>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                <hr>

                <button class="loginbtn" type="submit">Login</button>

                <div class="container login">
                    <p class="parclass">You do not have an account ? <a href="signup.html"> signup</a>.</p>
                </div>
            </div>
    </container>
    </form>
    <script src="../../DataHandler/LoginHandler.js"></script>
    <script src="../scripts/login.js"></script>
</body>

</html>