<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../css/home.css">
	<link rel="stylesheet" href="../css/userinfo.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<title>User Information</title>
</head>

<body>
	<div class="info-page">
		<div class="topnav">
			<img src="trolilogo.jpg">

			<div class="search-container">
				<form>
					<input type="text" placeholder="What are you looking for ...." name="search">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
			<div class=right-menu>
				<div class="dropdown">
					<button class="dropbtn" onclick="myFunction()">MyAccount
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content" id="myDropdown">
						<a href="userinfo.html">User info</a>
						<a href="manage-credit.html">Manage credit</a>
					</div>
				</div>
				<a href="login.html">Logout</a>
			</div>
		</div>
		<div class="categories">
			<ul>
				<li><a class="active" href="home.html">Home</a></li>
				<li><a href="#contact">Electronics</a></li>
				<li><a href="#about">Clothes</a></li>
				<li><a href="#contact">Health</a></li>
				<li><a href="#about">Skincare</a></li>
				<li><a href="#contact">Entertainment</a></li>
				<li><a href="#about">Food</a></li>
			</ul>
			<br>

		</div>

		<div class="form-style-2">
			<div class="form-style-2-heading">
				<p class="p-info">User Information</p> <br>
			</div>
			<div class="info2">
				<form action="" method="post">
					<label for="field1"><span>Name </span></span><input type="text" class="input-field" name="field1"
							value="" readonly /></label>
					<label for="field2"><span>Email </span></span><input type="text" class="input-field" name="field2"
							value="" readonly /></label>
					<label><span>Telephone</span></span><input type="text" class="input-field" name="field2" value=""
							readonly /></label>
					<label for="field1"><span>Country </span></span><input type="text" class="input-field" name="field1"
							value="" readonly /></label>
					<label for="field2"><span>Balance </span></span><input type="text" class="input-field" name="field2"
							value="" readonly /></label>
				</form>
			</div>
		</div>
	</div>
	<script src="../scripts/home.js"></script>
</body>
</html>